.contaner >h4 {
      font-family: times;
}
.logo img{
	width: 100%;
}
.tieude h3{
	font-family: times!important;
	font-size: 70px;
	font-weight: 1000;
	margin-top: 40px;
}
.menu ul{
	background-color: #4B4BFF;
	padding: 5px;
}
.menu ul li a{
	color: white;
    line-height: -30px;
}
.dg_ke {
	border: solid 1px white;
	height: 
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
}
.menu ul li {
	text-decoration: none;
	list-style:  none;
}
.menu ul li:hover {
	background-color: darkcyan; 
}
table td tr {
	padding: 5px;
}
.dsach ul li {
	text-decoration: none;
	list-style-type: none;
} 
li {
	list-style-type: none;
}