.all {
     background-color: #C2C2C2;
     width: 100%;
     height: 100%;
     padding-top: 120px;
     padding-bottom: 200px; 
 }
 .container {
 	background-color: #E2E2E2;
 	border: solid 1px black;
 	border-radius: 10px;
 }

 h4 {
 	  margin: 30px 0px 50px 300px; 
 	  font-family: Impact!important;
      font-size: 50px;
      font-weight: 780!important;
      text-transform: uppercase;
      color: #3E7B00;
      margin-bottom: 10px;
 }
input {
 	    margin: 10px;
		border-radius:5px; 
		border:  solid 2px black;
 }
 p {
		font-family: Segoe Script;	
		font-weight: bold;
 }
 .sub input{
  background-color: #3E7B00;
  height: 50px;
  width: 90px;
  color: white;
 }
 .sub input:hover {
      background-color: red;
      color: white;
 }