.all {
	width: 100%;
	background-color: #C2C2C2;
	padding-top: 20px;
	padding-bottom: 30px;
}
.container {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}
.head {
	height: 230px;
	margin-top: 15px;
	background-color: #E2E2E2;
	padding: 20px;
	border-radius: 6px;
}
.head1 img {
	width: 100%;
	height: 200px;
	border: solid 5px #3E7B00;
	border-radius: 10px;
}
.head p {
    font-family: Impact;
    font-size: 120px;
    font-weight: 1000;
    color: #3E7B00;
}
.dgke {
	border: solid 5px #3E7B00;
	width: 550px;
	margin-top: -20px;
	margin-left: -20px;
}
.head2 img {
	width: 100%;
	height: 170px;
	float: left!important;
	border-radius: 5px;
	border:  solid 5px #3E7B00;
}
.head2 p {
	font-size: 14px;
	font-weight: normal;
	margin-left: 50px;
}
.test {
	margin-top: 100px;
	font-family: Segoe Script;
	font-size: 18px;
}
.nutsub {
	height: 70px;
	width: 80px;

}
.nutsub input {
	 font-weight: bold;
	 border: solid 1px black;
	border-radius: 4px;

}
.nutsub input:hover {
	 background-color: red;
	 color: white;

}
.ket_qua p{
	 margin-top: -2100px;
	 color: red;
	 z-index: 1000;
}