 .all {
     background-color: #C2C2C2;
     width: 100%;
     height: 100%;
     padding-top: 50px;
     padding-bottom: 200px; 
 }	
 h4 {
      font-family: Impact!important;
      font-size: 70px;
      font-weight: 780!important;
      text-transform: uppercase;
      color: #3E7B00;
      margin-bottom: 10px;
 }
.box {
		margin-top: 100px; 
		width: 60%!important;
		border: solid black 1px;
		margin-left: 200px; 
		padding-top: 30px; 
		border-radius: 10px;
		font-weight: bold;
		background-color: #E2E2E2;
	 
}
.dgke {
	width: 570px;
	border: solid 1px black;
	margin-left : 50px;
	margin-bottom: 30px;
}
.login input {
		margin: 10px;
		border-radius:5px; 
		border:  solid 2px black;
}
.login p{
	  font-family: Segoe Script;
	  font-weight: 600;
}
.nut_sub input{
	    width: 160px;
	    height: 40px;
	    font-size: 21px;
	    font-weight: bold;
	    font-family: Segoe Script;
	    background-color: #3E7B00;

}
p {
	color: #54A205!important;
	font-weight: bold!important;
}
.nut_sub input:hover {
		background-color:red; 
		color: white;
}
